.AppComponent {
    overflow: scroll;

}
.homepage-full {
    // background: red;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.title-top {
    margin-top: 55px;
    width: 100%;
    // background: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.justify-logo {
    background: image-url("justifylogofull.png");
    height: 100px;
    width: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
}

.logout-button {
    background: rgb(90,177,187);
    color: white;
    // width: 70px;
    // height: 20px;
    padding: 10px 30px;
    margin: 20px 20px 20px 0;
    border-radius: 20px;
    align-content: center;

}

.user-container {
    // background: orange;
    margin-top: 50px;
    margin-bottom: 10px;
    -webkit-box-shadow: -2px 23px 48px -28px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 23px 48px -28px rgba(0,0,0,0.75);
box-shadow: -2px 23px 48px -28px rgba(0,0,0,0.75);


}

.username-text {
    font-size: 36px;
    margin-left: 20px;
}